.hero {
  background-image: $color-background-gradient;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 0 30px;
}

.hero__inner {
}
.hero__text-content {
}
.hero__advatages-list {
}
.hero__advatages-item {
}
.hero__text-wrap {
}
.hero__city {
}
.hero__title {
}
.hero__button {
}
.hero__image-wrap {
}
.hero__image {
}
